body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

#movie-details {
    border: 1px solid #ccc;
    padding: 20px;
    background: white;
}

#movie-details img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

#films {
    list-style-type: none;
    padding: 0;
}

.film.item {
    margin: 10px 0;
}

.sold-out {
    color: red;
}
